@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&family=Patrick+Hand&display=swap');
body{
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(230, 205, 252);
}

h1{
    font-size: 50px;
    color: rgb(115, 0, 255);
    text-align: center;
}

header{
    text-align: center;
    padding: 32px;
}

main{
    
    background-color: blueviolet;
    padding: 32px;
    width: 700px;
    border-radius: 10px;
    margin: 32px auto;
    color:azure;
}

img{
    width: 350px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    margin: 15px 0;
    padding-left: 10px;
    border-left: 5px solid transparent;
}

a{
    text-decoration: none;
    background-color: rgb(247, 209, 85);
    padding: 2px 2px;
    border-radius: 5px;
}

a:hover, a:active{
    background-color: rgb(255, 255, 255);
}

.important{
    border-left: 5px solid yellow;
}

footer{
    margin-top: 0;
    text-align: center;
    padding: 32px;
}

#download{
    display: inline-block;
    padding: 12px 10px; 
    margin: 20px;
    margin-top: 0;
    border-radius: 10px;
}

#download:hover{
    background-color:rgb(255, 255, 255);
    
}

#copyright{
    opacity: 0.5;
}